@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply cursor-default;
}

.flex-between-centered {
  @apply flex justify-between items-center;
}

.flex-centered {
  @apply flex justify-center items-center;
}

.full-page {
  height: calc(100vh - theme("spacing.header"));
}

.full-blur {
  @apply w-full h-full absolute top-0 left-0 backdrop-blur-sm;
}

.clip-tr-top-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
}

.clip-tr-top-left {
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.clip-tr-bottom-right {
  clip-path: polygon(100% 100%, 100% 0%, 0% 100%);
}

.clip-tr-bottom-left {
  clip-path: polygon(100% 100%, 0% 100%, 0% 0%);
}
